
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-color: rgb(148, 240, 210);
  height: 10vh;
}

ul{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.navLink {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.isActive {
  text-decoration: underline;
  color: rgb(7, 7, 111);
  font-size: 25px;
}